<% if notification_count > 0 %>
<div class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-1 border-gray-200 rounded-full -top-2 -right-2">
    <%= notification_count %>
</div>
<% end %>
