<%= tag.div id: dom_id(notification) do %>
  <%= link_to notification_redirect_url(notification.id) do %>
    <div class="border-b py-1 mb-1 hover:cursor-pointer flex flex-col">
      <div class="flex px-2">
        <span class="text-sm"><%= notification.content %></span>
      </div>
      <span class="mt-2 text-right text-gray-700 text-xs px-2"><%= time_ago_in_words(notification.created_at).capitalize %> ago</span>
    </div>
  <% end %>
<% end %>
